@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}
html{
    scroll-behavior: smooth;
}
:root{
    --main-color:#fcb700;
    --dark-color:#222222;
    --para-color:#666666;
    --dark-red:#d01418;
    --border-color:#6666662a;
    --name-item:#0066c0;
}
body{
    background-color: #f5f6f9;

}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0 100px 0;
    

}
h1,h2,h3,h4,h5,h6{
    color: var(--dark-color);
}
.container{
    width: 80%;
    margin: auto;
}

header{
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}
nav{
    border-bottom: 1px solid var(--border-color);
}
.topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}
.topnav img{
    width: 150px;
}
.topnav .search{
    width: 500px;
    position: relative;
    border: 2px solid var(--main-color);
    border-radius: 6px;
    overflow: hidden;
}
.topnav .search input{
    
    width: 100%;
    border: none;
    outline: none;
    padding: 18px 180px 18px 20px;
    font-size: 16px;
    font-weight: 500;
    color: var(--para-color);

}
.topnav .search button{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    height: 100%;
    width: 170px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    background-color: var(--main-color);
    cursor: pointer;
    color: var(--dark-color);
}
.topnav .cart-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.topnav .cart-item .cart{
    position: relative;
}
.topnav .cart-item .cart i{
    width: 50px;
    height: 50px;
    border: 1px solid var(--border-color);
    color: var(--dark-color);
    font-size: 25px;
    text-align: center;
    line-height: 2;
    border-radius: 50%;
    transition: 0.3s ease;
}
.topnav .cart-item .cart i:hover{
    background-color: var(--main-color);
    color: var(--dark-color);
}
.topnav .cart-item .cart span{
    position: absolute;
    right: 0;
    top: -5px;
    width: 20px;
    height: 20px;
    background-color: var(--main-color);
    color: var(--dark-color);
    font-size: 18px;
    text-align: center;
    border-radius: 50%;
    line-height: 20px;
}
.topnav .cart-item .total-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
}
.topnav .cart-item .total-price p{
    font-weight: 500;
    font-size: 18px;
    color: var(--para-color);
}
.topnav .cart-item .total-price span{
    font-size: 18px;
    color: var(--para-color);
    font-weight: 500;
}

/* ---------------------------------------------------------------- */
.lownav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  10px 0;

}
.lownav #bar,.lownav #xmark,.lownav .bar_image{
    display: none;
}  
.lownav .list{
    display: flex;
    align-items: center;
    gap: 60px;
}

.lownav .list li a{
    color: var(--dark-color);
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    padding: 18px 5px;
    position: relative;
}
.lownav .list li a::after{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    transform-origin: center;
    transform: scaleX(0);
    transition:transform 0.3s ;

}
.lownav .list li a:hover::after{
    transform-origin: center;
    transform: scaleX(1);
}
.lownav .sign-up{
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
}
.lownav .sign-up a{
    padding: 10px 20px;
    background-color: var(--main-color);
    color: var(--dark-color);
    border-radius: 6px;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    
}
/* ---------------------------------------------------------------------- */
.login {
    margin: 80px 0;
    width: 320px;
    background-color: #fff;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0 , 0, 0.4);

}
.login form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
}
.login form h1{
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}
.login form input{
    width: 100%;
    height: 40px;
    padding: 15px;
    border: 2px solid var(--border-color);
    border-radius:4px ;
}
.login form .forget{
    font-size: 13px;
    color: var(--para-color);
    text-align: right;
}
.login form .forget:hover{
    text-decoration: underline;
}
.login form .login-in{
    background-color: var(--main-color);
    padding: 10px 100px;
    border-radius: 4px;
    color: #fff;

}
.login form p{
    font-size: 12px;
    text-align: left;
   
}
.login form p a{
    font-size: 14px;
    color: var(--main-color);
    text-decoration: underline;
}
.login form .btn0{
    color: #fff;
    background-color: var(--dark-color);
    border: 2px solid var(--dark-color);
    padding: 8px 50px;
    border-radius: 4px;
}

.login form .btn{
    color: var(--dark-color);
    background-color: #fff;
    border: 2px solid var(--dark-color);
    padding: 8px 50px;
    border-radius: 4px;
}
.login form .btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px;
  font-size: 16px;
}


/* ============================================ */


footer{
    background-color: #394150;
}
footer .container{
    display: flex;
    justify-content: space-between;
  
    padding: 40px 0;
}
footer .logo_content{
    width: 30%;
}

footer .logo_content .contact_us{
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
}
footer .logo_content .contact_us h5{
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
footer .logo_content .contact_us h6{
    color: var(--main-color);
    font-size: 18px;
}
footer .logo_content .contact_us i{
    font-size: 60px;
    color: var(--main-color);
}
footer .logo_content p{
    width: 90%;
    color: #b1b1b1b1;
    font-size: 14px;
    line-height: 1.5;
}
.tags{
    width: 22%;
}
.tags h4{
    text-transform: capitalize;
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}
.tags .links{
  display: flex;
  flex-direction: column;
 gap: 7px;


}
.tags .links a{
    text-transform: capitalize;
    color: #b1b1b1b1;
    font-size: 14px ;
    position: relative;
    left: 0;
    transition: all 0.3s ease-in-out;

}
.tags .links a:hover{
    left: 8px;
    color: var(--main-color);
}
footer .bottm-footer{
    background-color: #202935;
}
footer .bottm-footer .container{

    align-items: center;
    padding: 20px 0;
}
footer .bottm-footer p{
    text-transform: capitalize;
    color: var(--para-color);

}
footer .bottm-footer p span{
    color: var(--main-color);
}
footer .bottm-footer .payment_img{
    display: flex;
    gap: 10px;
}

footer .bottm-footer .payment_img img{
   
    filter: grayscale(100%);
    transition: 0.3s;
    cursor: pointer;
}
footer .bottm-footer .payment_img img:hover{
    filter: grayscale(0%);

}